<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <link
      rel="shortcut icon"
      href="../static/favicon.png"
      type="image/x-icon"
    />
    <title>LogThoseKeys</title>
  </head>
  <body>
    <h1>Welcome to <span class="colored">LogThoseKeys</span></h1>
    <hr />
    <p>
      &emsp;<span class="fancy">LogThoseKeys</span> is quite a unique place. It
      allows for anything from messing with your sibling because she took the
      last slice of pizza to finding the password of an unsuspecting victim.
    </p>
    <p>
      &emsp;Well, this page is nothing fancy, so you better get going. Watch out
      though, anyone can easily set up a LogThoseKeys server and steal your
      passwords. Be careful of what you let onto your computer!
    </p>
    <div class="vertical-spacer"></div>
    <div class="center-text">
      <button id="understand" onclick="window.location.replace('/void');">
        I understand
      </button>
    </div>
  </body>
</html>
